node_modules
.next
.git
.gitignore
.env*
.tmp
.data
local-backups
prisma/*.db*
prisma-sqlite/*.db*
coverage
test-results
playwright-report
*.tsbuildinfo
**/*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*
